# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.depend

#################  
## Code::Blocks  
#################  
*.layout

############  
## Windows  
############  

# Windows image file caches  
Thumbs.db  

# Folder config file  
Desktop.ini
Red Thunder's Pizza Palace/PizzaBottom.txt
Red Thunder's Pizza Palace/PizzaBottom.txt
Red Thunder's Pizza Palace/Pizzas.txt
Red Thunder's Pizza Palace/PizzaBottom.txt
